<h1 class="title">新しいパスワードを入力してください</h1>
<%= form_with(model: @user, url: password_reset_path(@token), method: :put, local: true) do |form| %>
  <%= render partial: 'shared/form_error', locals: {form_object: @user} %>

  <div class="form-group">
    <%= form.label :password, class: 'form-label' %>
    <%= form.password_field :password, id: :user_password, class: 'form-input' %>
  </div>

  <div class="form-action">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
