<%= include_gon %>

<%= buoy_with_title :wiki_attachments, {wiki: @wiki}, title: "#{@wiki.title}のアップロードファイル一覧" %>

<%= render layout: 'wikis/layout' do %>
  <h2>アップロードファイル一覧</h2>
  <ul>
    <li>アップロードできるファイルはjpg, png, gifのみです</li>
    <li>ファイルサイズは1MBまでとなっています</li>
    <li>ファイルのアップロードは１つずつしかできません</li>
    <li>shortcodeは半角英数と「_」のみ使用できます</li>
    <li>shortcodeの変更はエンターキーで更新できます</li>
  </ul>
  <div class="container is-attachments">
    <div id="attachments_vue"></div>
  </div>
<% end %>

<%= javascript_pack_tag "attachments" %>
<%= stylesheet_pack_tag "attachments" %>