<%= form_with(model: [@wiki, @page, @request], local: true, html: {onsubmit: "transfer_to_textarea()"}) do |form| %>
  <%= render partial: 'shared/form_error', locals: {form_object: @request} %>

  <div id="loading">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>

  <div id="editorSection"></div>
  <div class="form-group">
    <%= form.text_area :content, class: "d-hide", id: "content_area", data: {wiki_id: @wiki.id} %>
  </div>

  <% disable_comment ||= false %>
  <% unless disable_comment %>
    <div class="form-group">
      <%= form.label :comment, class: "form-label" %>
      <%= form.text_field :comment, class: "form-input", placeholder: "例: 新しい情報がきたので追加しました！！", maximum: 50 %>
      <p>※コメントの上限は50文字です</p>
    </div>
  <% end %>

  <div class="form-action">
    <%= form.submit class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>

<%= render 'wikis/pages/mdeditor' %>