<h3>リクエストのあった変更点</h3>
<%= raw @diffy %>

<h3>現在のページ内容</h3>
<%= form_with(url: wiki_page_request_merge_path(@wiki, @page, @request), method: :post, local: true, html: {onsubmit: "transfer_to_textarea()"}) do |form| %>
  <%= render partial: 'shared/form_error', locals: {form_object: @request} %>

  <div id="loading">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>

  <div id="editorSection"></div>
  <div class="form-group">
    <%= form.text_area :content, class: "d-hide", id: "content_area", data: {wiki_id: @wiki.id} %>
  </div>

  <div class="form-action">
    <%= form.submit class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>

<%= render 'wikis/pages/mdeditor' %>