<%= form_with(url: wiki_page_request_adjust_merge_path(@wiki, @page, @request), local: true) do |form| %>
<%= render partial: 'shared/form_error', locals: {form_object: @page} %>

<div class="form-group">
  <%= form.label :content, class: "form-label" %>
  <%= form.text_area :content, id: "mdeditor", value: @merged_content %>
</div>
<div class="form-action">
  <%= form.submit 'マージする', class: 'btn btn-lg btn-primary' %>
</div>
<% end %>

<%= stylesheet_pack_tag 'simplemde' %>
<%= javascript_pack_tag 'simplemde' %>