<h3>リクエストのあった変更点</h3>
<%= raw @diffy %>

<h3>現在のページ内容</h3>
<%= form_with(url: wiki_page_request_merge_path(@wiki, @page, @request), method: :post, local: true) do |form| %>
  <%= render partial: 'shared/form_error', locals: {form_object: @request} %>

  <div class="form-group">
    <%= form.text_area :content, id: "mdeditor", data: {wiki_id: @wiki.id}, value: @page.latest_history.content %>
  </div>

  <div class="form-action">
    <%= form.submit class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>

<%= stylesheet_pack_tag 'simplemde' %>
<%= javascript_pack_tag 'simplemde' %>