<%= buoy_with_title :wiki_page_requests, {wiki: @wiki, page: @page, request: @request}, title: @wiki.title %>

<%= render layout: 'wikis/layout' do %>
<% @requests.each do |req| %>
<%= link_to wiki_page_request_path(@wiki, @page, req) do %>
<div class="tile mb-2">
  <div class="tile-icon">
    <div class="example-tile-icon">
      <figure class="avatar">
        <%= image_tag "#{req.user.current_avatar}" %>
      </figure>
    </div>
  </div>
  <div class="tile-content">
    <p class="tile-title-only">
      <%= req.comment %>（<%= req.page.title %>）<span class="label label-warning ml-2">ページ編集</span></p>
  </div>
</div>
<% end %>
<% end %>
<% end %>