<%= buoy_with_title :wiki_page_request, {wiki: @wiki, page: @page, request: @request}, title: @wiki.title %>
<%= include_gon %>

<div class="tile mb-2">
  <div class="tile-icon">
    <div class="example-tile-icon">
      <figure class="avatar">
        <%= image_tag @request.user.current_avatar %>
      </figure>
    </div>
  </div>
  <div class="tile-content">
    <p class="tile-title-only"><%= @request.comment %></p>
  </div>
  <% if current_user == @request.user %>
  <div class="tile-action">
    <%= link_to edit_wiki_page_request_path(@wiki, @page, @request) do %>
      <button class="btn">編集</button>
    <% end %>
    <%= link_to wiki_page_request_path(@wiki, @page, @request), method: :delete, data: {confirm: "本当にキャンセルしますか？"} do %>
      <button class="btn">キャンセル</button>
    <% end %>
  </div>
  <% end %>
</div>

<%= raw @diffy %>

<% if loyalty(@wiki, :wikis).update? %>
  <% unless @can_quick_merge %>
    <div class="caution">
      <p class="text-error">編集リクエストのあとでページ内容に更新がありました。変更点を調整してマージしてください。</p>
    </div>
  <% end %>

  <% if @can_quick_merge %>
    <%= link_to wiki_page_request_merge_path(@wiki, @page, @request, content: @request.content), method: :post do %>
      <button class="btn btn-success">マージ</button>
    <% end %>
  <% end %>

  <%= link_to wiki_page_request_adjust_path(@wiki, @page, @request) do %>
    <button class="btn btn-warning">調整してマージ</button>
  <% end %>

  <% target = "modal-#{SecureRandom.hex(8)}" %>
  <a class="btn btn-error" onclick="toggleModal('<%= target %>')">リジェクト</a>

  <div class="modal" id="<%= target %>">
    <a href="#close" class="modal-overlay" onclick="toggleModal('<%= target %>')"></a>
    <div class="modal-container">
      <div class="modal-header">
        <a href="#close" class="btn btn-clear float-right" onclick="toggleModal('<%= target %>')">
        </a>
        <div class="modal-title h5">本当にリジェクトしますか？</div>
      </div>
      <div class="modal-body">
        <div class="content">
          リジェクトされると、編集リクエスト一覧から削除され、戻すことができません。それでもよろしいですか？
        </div>
      </div>
      <div class="modal-footer">
        <%= link_to 'リジェクトします', wiki_page_request_reject_path(@wiki, @page, @request), method: :post, class: "btn btn-error" %>
        <button class="btn" onclick="toggleModal('<%= target %>')">キャンセル</button>
      </div>
    </div>
  </div>
<% end %>