<style>
.inline-form {
  display: contents;
}
</style>

<%= render layout: 'wikis/layout' do %>
  <div class="container is_main">
    <p class="mini_header"><%= t('wikis.maintainers.index.maintainers') %></p>
    <% @maintainers.each do |maintainer| %>
      <div class="tile align-items-center mb-2">
        <div class="tile-icon">
          <div class="example-tile-icon">
            <figure class="avatar">
              <%= image_tag maintainer.user.current_avatar %>
            </figure>
          </div>
        </div>
        <div class="tile-content">
          <%= maintainer.user.name %>
          <%= form_with(url: maintainer_path(wiki_id: @wiki, id: maintainer.user), method: :patch, class: "inline-form") do |form| %>
            <% if current_user.id == maintainer.user.id %>
            <%= form.select :level, {
              "#{t('wikis.settings.maintainer_level.contributor')}": 1,
              "#{t('wikis.settings.maintainer_level.moderator')}": 2,
              "#{t('wikis.settings.maintainer_level.administrator')}": 3
              }, {selected: maintainer.level}, {class: "form-select", onchange: "this.form.submit();", disabled: "disabled"} %>
            <% else %>
            <%= form.select :level, {
              "#{t('wikis.settings.maintainer_level.contributor')}": 1,
              "#{t('wikis.settings.maintainer_level.moderator')}": 2,
              "#{t('wikis.settings.maintainer_level.administrator')}": 3
              }, {selected: maintainer.level}, {class: "form-select", onchange: "this.form.submit();"} %>
            <% end %>
          <% end %>
        </div>
        <div class="tile-action">
          <% target = "modal-#{SecureRandom.hex(8)}" %>
          <a class="btn btn-error" onclick="toggleModal('<%= target %>')">
            <%= t('wikis.maintainers.index.remove_maintainer_link') %>
          </a>
          <div class="modal" id="<%= target %>">
            <a href="#close" class="modal-overlay" onclick="toggleModal('<%= target %>')"></a>
            <div class="modal-container">
              <div class="modal-header">
                <a href="#close" class="btn btn-clear float-right" onclick="toggleModal('<%= target %>')">
                </a>
                <div class="modal-title h5"><%= t('wikis.maintainers.index.remove_maintainer_title') %></div>
              </div>
              <div class="modal-body">
                <div class="content">
                  <%= t('wikis.maintainers.index.remove_maintainer_body') %>
                </div>
              </div>
              <div class="modal-footer">
                <%= link_to t('wikis.maintainers.index.remove_maintainer_link'), maintainer_path(wiki_id: @wiki.id, id: maintainer.id), method: :delete, class: "btn btn-error" %>
                <button class="btn" onclick="toggleModal('<%= target %>')">
                  <%= t('wikis.maintainers.index.remove_maintainer_cancel') %>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <p class="mini_header"><%= t('wikis.maintainers.index.watchers') %></p>
    <% @watchers.each do |watch_user| %>
      <div class="tile align-items-center mb-2">
        <div class="tile-icon">
          <div class="example-tile-icon">
            <figure class="avatar">
              <%= image_tag watch_user.current_avatar %>
            </figure>
          </div>
        </div>
        <div class="tile-content">
          <%= watch_user.name %>
        </div>
        <div class="tile-action">
          <% target = "modal-#{SecureRandom.hex(8)}" %>
          <a class="btn btn-error" onclick="toggleModal('<%= target %>')">
            <%= t('wikis.maintainers.index.add_maintainer_link') %>
          </a>
          <div class="modal" id="<%= target %>">
            <a href="#close" class="modal-overlay" onclick="toggleModal('<%= target %>')"></a>
            <div class="modal-container">
              <div class="modal-header">
                <a href="#close" class="btn btn-clear float-right" onclick="toggleModal('<%= target %>')">
                </a>
                <div class="modal-title h5"><%= t('wikis.maintainers.index.add_maintainer_title') %></div>
              </div>
              <div class="modal-body">
                <div class="content">
                  <%= t('wikis.maintainers.index.add_maintainer_body') %>
                </div>
              </div>
              <div class="modal-footer">
                <%= link_to t('wikis.maintainers.index.add_maintainer_link'), maintainers_path(wiki_id: @wiki.id, user_id: watch_user.id), method: :post, class: "btn btn-error" %>
                <button class="btn" onclick="toggleModal('<%= target %>')">
                  <%= t('wikis.maintainers.index.add_maintainer_cancel') %>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  </div>
<% end %>