<%# render partial: 'shared/delete_modal', locals: {link: '全てのユーザー情報を削除する', title: '本当に削除しますか？', content: 'ユーザーの削除をすると、アップロードファイルやプレイリストなど全ての情報が削除され、今後アクセスする事ができなくなります。本当に削除してもよいですか？', object: @user} %>

<% target = "modal-#{SecureRandom.hex(8)}" %>

<a class="btn btn-error" onclick="openModal('<%= target %>')"><%= link %></a>

<div class="modal" id="<%= target %>">
  <a href="#close" class="modal-overlay" onclick="closeModal('<%= target %>')"></a>
  <div class="modal-container">
    <div class="modal-header">
      <a href="#close" class="btn btn-clear float-right" onclick="closeModal('<%= target %>')">
      </a>
      <div class="modal-title h5"><%= title %></div>
    </div>
    <div class="modal-body">
      <div class="content">
        <%= content %>
      </div>
    </div>
    <div class="modal-footer">
      <%= link_to '削除します', object, method: :delete, class: "btn btn-error" %>
      <button class="btn" onclick="closeModal('<%= target %>')">キャンセル</button>
    </div>
  </div>
</div>

<script>
function openModal(target){
  document.getElementById(target).classList.add('active')
}
function closeModal(target){
  document.getElementById(target).classList.remove('active')
}
</script>
