<%= include_gon %>
<div class="columns">

  <div class="column col-9 col-sm-12 side-column">

    <a class="btn show-lg" href="#sidebar-id">
      <i class="icon icon-arrow-right mr-1"></i>メニューを開く
    </a>

    <div class="off-canvas off-canvas-sidebar-show">
      <%# サイドバー %>
      <div id="sidebar-id" class="sidebar off-canvas-sidebar">
        <ul class="nav">
          <% @wiki.nav.each do |nv| %>
            <% unless nv.is_a?(Array) %>
              <% page = @wiki.pages.find(nv["page_id"]) %>
              <li class="nav-item">
                <%= link_to page.title, wiki_page_path(@wiki, page) %>
              </li>
            <% else %>
              <ul class="nav">
                <% nv.each do |nvc| %>
                  <% unless nvc.is_a?(Array) %>
                    <% page = @wiki.pages.find(nvc["page_id"]) %>
                    <li class="nav-item">
                      <%= link_to page.title, wiki_page_path(@wiki, page) %>
                    </li>
                  <% else %>
                    <ul class="nav">
                      <% nvc.each do |nvcc| %>
                        <% page = @wiki.pages.find(nvcc["page_id"]) %>
                        <li class="nav-item">
                          <%= link_to page.title, wiki_page_path(@wiki, page) %>
                        </li>
                      <% end %>
                    </ul>
                  <% end %>
                <% end %>
              </ul>
            <% end %>
          <% end %>
          <li class="nav-item">
            <%= link_to "ページ一覧", wiki_pages_path(@wiki) %>
          </li>
          <li class="nav-item">
            <a href="#">アップロード一覧</a>
          </li>
          <li class="nav-item">
            <%= link_to "このWikiについて", about_wiki_path(@wiki) %>
          </li>
        </ul>
      </div>
      <%# /サイドバー %>

      <a class="off-canvas-overlay" href="#close"></a>

      <div class="off-canvas-content">
        <article>
          <%= yield %>
        </article>
      </div>
    </div>
  </div>

  <div class="column col-3 col-sm-12 side-column">
    <% if current_user %>
      <div id="watch_wiki_button"></div>
      <%=  javascript_pack_tag 'watch_wiki', defer: true %>

<%# 本当はこんな感じがいいな %>
      <div class="columns d-hide">
        <div class="column text-center"><svg version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 512 512" style="width: 48px; height: 48px; opacity: 1;" xml:space="preserve">
<style type="text/css">

	.st0{fill:#4B4B4B;}

</style>
<g>
	<path class="st0" d="M473.984,74.248c-50.688-50.703-132.875-50.703-183.563,0c-17.563,17.547-29.031,38.891-34.438,61.391
		c-5.375-22.5-16.844-43.844-34.406-61.391c-50.688-50.703-132.875-50.703-183.563,0c-50.688,50.688-50.688,132.875,0,183.547
		l217.969,217.984l218-217.984C524.672,207.123,524.672,124.936,473.984,74.248z" style="fill: rgb(75, 75, 75);"></path>
</g>
</svg>
</div>
        <div class="column text-center"><svg version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="width: 48px; height: 48px; opacity: 1;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#4B4B4B;}
</style>
<g>
	<path class="st0" d="M494.56,55.774l-38.344-38.328c-23.253-23.262-60.965-23.253-84.226,0l-35.878,35.878l122.563,122.563
		l35.886-35.878C517.814,116.747,517.814,79.044,494.56,55.774z"></path>
	<polygon class="st0" points="0,389.435 0,511.998 122.571,511.998 425.246,209.314 302.691,86.751 	"></polygon>
</g>
</svg>
</div>
        <div class="column text-center"><svg version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="width: 48px; height: 48px; opacity: 1;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#4B4B4B;}
</style>
<g>
	<path class="st0" d="M499.453,210.004l-55.851-2.58c-5.102-0.23-9.608-3.395-11.546-8.103l-11.508-27.695
		c-1.937-4.728-0.997-10.145,2.455-13.914l37.668-41.332c4.718-5.188,4.546-13.205-0.421-18.182l-46.434-46.443
		c-4.986-4.967-13.003-5.159-18.2-0.412l-41.312,37.668c-3.778,3.443-9.206,4.402-13.924,2.436l-27.694-11.488
		c-4.718-1.946-7.864-6.454-8.094-11.565l-2.589-55.831C301.675,5.534,295.883,0,288.864,0h-65.708
		c-7.02,0-12.831,5.534-13.156,12.562l-2.571,55.831c-0.23,5.111-3.376,9.618-8.094,11.565L171.64,91.447
		c-4.737,1.966-10.165,1.007-13.924-2.436l-41.331-37.668c-5.198-4.746-13.215-4.564-18.201,0.412L51.769,98.198
		c-4.986,4.977-5.158,12.994-0.422,18.182l37.668,41.332c3.452,3.769,4.373,9.186,2.416,13.914l-11.469,27.695
		c-1.956,4.708-6.444,7.873-11.564,8.103l-55.832,2.58c-7.019,0.316-12.562,6.118-12.562,13.147v65.699
		c0,7.019,5.543,12.83,12.562,13.148l55.832,2.579c5.12,0.229,9.608,3.394,11.564,8.103l11.469,27.694
		c1.957,4.728,1.036,10.146-2.416,13.914l-37.668,41.313c-4.756,5.217-4.564,13.224,0.403,18.201l46.471,46.443
		c4.967,4.977,12.965,5.15,18.182,0.422l41.312-37.677c3.759-3.443,9.207-4.392,13.924-2.435l27.694,11.478
		c4.719,1.956,7.864,6.464,8.094,11.575l2.571,55.831c0.325,7.02,6.136,12.562,13.156,12.562h65.708
		c7.02,0,12.812-5.542,13.138-12.562l2.589-55.831c0.23-5.111,3.376-9.619,8.094-11.575l27.694-11.478
		c4.718-1.957,10.146-1.008,13.924,2.435l41.312,37.677c5.198,4.728,13.215,4.555,18.2-0.422l46.434-46.443
		c4.967-4.977,5.139-12.984,0.421-18.201l-37.668-41.313c-3.452-3.768-4.412-9.186-2.455-13.914l11.508-27.694
		c1.937-4.709,6.444-7.874,11.546-8.103l55.851-2.579c7.019-0.318,12.542-6.129,12.542-13.148v-65.699
		C511.995,216.122,506.472,210.32,499.453,210.004z M256.01,339.618c-46.164,0-83.622-37.438-83.622-83.612
		c0-46.184,37.458-83.622,83.622-83.622s83.602,37.438,83.602,83.622C339.612,302.179,302.174,339.618,256.01,339.618z" style="fill: rgb(75, 75, 75);"></path>
</g>
</svg>
</div>
      </div>
<%# /本当はこんな感じがいいな %>


      <div>
        <ul class="menu" style="background-color: #a4d2ff;">

          <li class="menu-item d-hide">
            <a href="#" class="">
              <i class="icon-inbox"></i>編集リクエスト一覧
            </a>
          </li>

          <%# ページでメンテナーだったら編集リンクを表示 %>
          <% if @page %>
            <li class="menu-item">
              <%= link_to edit_wiki_page_path(@wiki, @page) do %>
                <i class="icon-pencil"></i>ページを編集
              <% end %>
            </li>
            <li class="menu-item">
            </li>
          <% end %>

          <li class="menu-item">
            <%= link_to new_wiki_page_path(wiki_id: @wiki) do %>
              <i class="icon-page-add"></i>ページを作成
            <% end %>
          </li>
          <li class="menu-item">
            <%= link_to edit_nav_path(wiki_id: @wiki) do %>
              <i class="icon-navi"></i>サイドバーの設定
            <% end %>
          </li>
          <li class="menu-item">
            <%= link_to edit_wiki_path(@wiki) do %>
              <i class="icon-sliders"></i>Wikiの設定を変更
            <% end %>
          </li>
          <li class="menu-item">
            <%= link_to maintainers_path(wiki_id: @wiki) do %>
              <i class="icon-key"></i>メンテナーの管理
            <% end %>
          </li>
        </ul>
      </div>
    <% else %>
      <div class="signup_user">
        <h4>🙋‍♀️dotwikiに参加しよう🙋‍♂️</h4>
        <div class="form-group">
          <%= link_to auth_at_provider_path(provider: :twitter), class: "btn-original btn-full btn-twitter" do %>
            <span><i class="icon-twitter mr-1"></i>Login with Twitter</span>
          <% end %>
        </div>
        <div class="form-group">
          <%= link_to auth_at_provider_path(provider: :discord), class: "btn-original btn-full btn-discord" do %>
            <span><i class="icon-discord mr-1"></i>Login with Discord</span>
          <% end %>
        </div>
      </div>
    <% end %>
    
    <div>
      <ul class="nav">
        <li class="nav-item active">
          <a href="#">その他いろいろな情報</a>
          <ul class="nav">
            <li class="nav-item">
              <a href="#">xxxあいうえおかきくきくけこきくけこ(2020/01/14)</a>
            </li>
            <li class="nav-item">
              <a href="#">yyy(2020/01/14)</a>
            </li>
            <li class="nav-item">
              <a href="#">zzz(2020/01/14)</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</div>