<%= include_gon %>
<div class="columns">

  <div class="column col-9 col-sm-12 side-column">

    <a class="btn show-lg" href="#sidebar-id">
      <i class="icon icon-arrow-right mr-1"></i>メニューを開く
    </a>

    <div class="off-canvas off-canvas-sidebar-show">
      <%# サイドバー %>
      <div id="sidebar-id" class="sidebar off-canvas-sidebar">
        <ul class="nav">
          <% @wiki.nav.each do |nv| %>
            <% unless nv.is_a?(Array) %>
              <% page = @wiki.pages.find(nv["page_id"]) %>
              <li class="nav-item">
                <%= link_to page.title, wiki_page_path(@wiki, page) %>
              </li>
            <% else %>
              <ul class="nav">
                <% nv.each do |nvc| %>
                  <% unless nvc.is_a?(Array) %>
                    <% page = @wiki.pages.find(nvc["page_id"]) %>
                    <li class="nav-item">
                      <%= link_to page.title, wiki_page_path(@wiki, page) %>
                    </li>
                  <% else %>
                    <ul class="nav">
                      <% nvc.each do |nvcc| %>
                        <% page = @wiki.pages.find(nvcc["page_id"]) %>
                        <li class="nav-item">
                          <%= link_to page.title, wiki_page_path(@wiki, page) %>
                        </li>
                      <% end %>
                    </ul>
                  <% end %>
                <% end %>
              </ul>
            <% end %>
          <% end %>
          <li class="nav-item">
            <%= link_to "ページ一覧", wiki_pages_path(@wiki) %>
          </li>
          <li class="nav-item">
            <a href="#">アップロード一覧</a>
          </li>
          <li class="nav-item">
            <%= link_to "このWikiについて", about_wiki_path(@wiki) %>
          </li>
        </ul>
      </div>
      <%# /サイドバー %>

      <a class="off-canvas-overlay" href="#close"></a>

      <div class="off-canvas-content">
        <article>
          <%= yield %>
        </article>
      </div>
    </div>
  </div>

  <div class="column col-3 col-sm-12 side-column">
    <% if current_user %>
      <div id="watch_wiki_button"></div>
      <%=  javascript_pack_tag 'watch_wiki', defer: true %>

      <div>
        <ul class="menu" style="background-color: #a4d2ff;">

          <li class="menu-item d-hide">
            <a href="#" class="">
              <i class="icon-inbox"></i>編集リクエスト一覧
            </a>
          </li>

          <% if @page && Wikis::PagesLoyalty.new(current_user, @wiki).update? %>
          <li class="menu-item">
            <%= link_to edit_wiki_page_path(@wiki, @page) do %>
              <i class="icon-pencil"></i>ページを編集
            <% end %>
          </li>
          <% end %>

          <% if Wikis::PagesLoyalty.new(current_user, @wiki).create? %>
          <li class="menu-item">
            <%= link_to new_wiki_page_path(wiki_id: @wiki) do %>
              <i class="icon-page-add"></i>ページを作成
            <% end %>
          </li>
          <% end %>

          <% if Wikis::NavsLoyalty.new(current_user, @wiki).edit? %>
          <li class="menu-item">
            <%= link_to edit_nav_path(wiki_id: @wiki) do %>
              <i class="icon-navi"></i>サイドバーの設定
            <% end %>
          </li>
          <% end %>

          <% if loyalty(@wiki, :wikis).edit? %>
          <li class="menu-item">
            <%= link_to edit_wiki_path(@wiki) do %>
              <i class="icon-sliders"></i>Wikiの設定を変更
            <% end %>
          </li>
          <li class="menu-item">
            <%= link_to maintainers_path(wiki_id: @wiki) do %>
              <i class="icon-key"></i>メンテナーの管理
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>
    <% else %>
      <div class="signup_user">
        <h4>🙋‍♀️dotwikiに参加しよう🙋‍♂️</h4>
        <div class="form-group">
          <%= link_to auth_at_provider_path(provider: :twitter), class: "btn-original btn-full btn-twitter" do %>
            <span><i class="icon-twitter mr-1"></i>Login with Twitter</span>
          <% end %>
        </div>
        <div class="form-group">
          <%= link_to auth_at_provider_path(provider: :discord), class: "btn-original btn-full btn-discord" do %>
            <span><i class="icon-discord mr-1"></i>Login with Discord</span>
          <% end %>
        </div>
      </div>
    <% end %>
    
    <div class="subsidebar">
      <p class="title">新着情報</p>
      <ul class="notifications">
        <% @wiki.notifications.order(updated_at: :desc).limit(10).each do |notif| %>
        <li class="">
          <%= link_to notif.title, notif.path %>
        </li>
        <% end %>
      </ul>
    </div>

  </div>
</div>