<%= buoy_with_title :wiki, {wiki: @wiki}, title: @wiki.title %>

<%= render layout: 'wikis/layout' do %>
  <h2><%= @wiki.title %></h2>
  <h3>このwikiについて</h3>
  <p><%= @wiki.description %></p>
  <h3>ルールや規約について</h3>
  <p><%= @wiki.terms %></p>
<% end %>
