<%= form_with(model: [@wiki, page], local: true, html: {onsubmit: "transfer_to_textarea()"}) do |form| %>
  <%= render partial: 'shared/form_error', locals: {form_object: page} %>

  <div class="form-group">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-input" %>
  </div>

  <div id="loading">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>

  <div id="markdown_editor"></div>
  <%= form.fields_for :histories, @page.histories.last do |cform| %>
    <div class="form-group">
      <%= cform.text_area :content, class: "d-hide", id: "content_area", data: {wiki_id: @wiki.id} %>
    </div>
  <% end %>

  <div class="form-action">
    <%= form.submit class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>

<%= render 'wikis/pages/mdeditor' %>