<%= buoy_with_title :wiki_page, {wiki: @wiki, page: @page}, title: @page.title %>

<%= render layout: 'wikis/layout' do %>
  <h2><%= @page.title %></h2>
  <div id="markdown">
    <% md = @page.latest_history.content %>
    <%# markdown(@page.latest_history.content) %>
    <%#= Kramdown::Document.new(md, {parse_block_html: true}).to_html %>
    <%== markdown(md) %>
  </div>

  <p>
    <%= link_to new_wiki_page_request_path(@wiki, @page), class: "btn" do %>
      <i class="icon icon-pencil"></i>編集リクエストを送る
    <% end %>
  </p>
  <p>
    <%= link_to wiki_page_requests_path(@wiki, @page) do %>
      <i class="icon icon-inbox"></i>このページの編集リクエストを確認
    <% end %>
  </p>
<% end %>

