<%= buoy_with_title :wiki_page, {wiki: @wiki, page: @page}, title: @page.title %>

<%= render layout: 'wikis/layout' do %>
  <h2><%= @page.title %></h2>
  <div id="markdown"><%= sanitize(@page.latest_history.content) %></div>

  <%= link_to new_wiki_page_request_path(@wiki, @page), class: "btn" do %>
    編集リクエストを送る
  <% end %>
  <%= javascript_pack_tag 'marked' %>
<% end %>
