<!DOCTYPE html>
<html>
  <head>
    <title>dotwiki</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/icon-192x192.png">
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <header>
      <div class="container grid-xl">
        <div class="columns wiki_header">
          <div class="column col-auto">
            <a href="/" class="brand navbar-brand"><%= image_tag 'logo.svg', class: "brand-logo" %></a>
          </div>
          <div class="column show-sm text-right mb-2">
            <%= render partial: 'layouts/user_session' %>
          </div>

          <% if @wiki&.id %>
          <div class="column col-sm-12 col-lg-auto">
            <div class="title">
              <%= link_to wiki_path(@wiki) do %>
                <h1 class=""><%= @wiki.title %></h1>
              <% end %>
            </div>
          </div>
          <% else %>
          <div class="column col-3 col-sm-12 col-lg-auto">
            <div class="input-group">
              <input class="form-input" type="text" placeholder="search">
              <button class="btn input-group-btn">検索</button>
            </div>
          </div>
          <% end %>

          <div class="column col-lg-auto hide-sm text-right">
            <%= render partial: 'layouts/user_session' %>
          </div>
        </div>
      </div>
    </header>
    <div class="breadcrumb_container">
      <%= render partial: 'breadcrumbs/buoys' %>
    </div>
    <main class="container is-main grid-xl">
      <%= yield %>
    </main>

    <footer class="footer">
      <div class="columns">
        <div class="column is-4">
          <h2 class="title is-4">dotwiki</h2>
        </div>
        <div class="column is-4"></div>
        <div class="column is-4"></div>
      </div>
    </footer>

    <div id="toast" class="">
      <div id="toast_img"></div>
      <div id="toast_msg"></div>
    </div>

    <% flash.each do |toast_type, toast_msg| %>
    <script defer>
      window.toast('<%= toast_type %>', '<%= toast_msg %>')
    </script>
    <% end %>
    
    <script src="//instant.page/3.0.0" type="module" defer integrity="sha384-OeDn4XE77tdHo8pGtE1apMPmAipjoxUQ++eeJa6EtJCfHlvijigWiJpD7VDPWXV1"></script>
  </body>
</html>