<!DOCTYPE html>
<html>

<head>
  <title><%= content_for?(:title) ? yield(:title) : "dotwiki 🖊️ Markdownや編集リクエストが使える次世代Wikiサービス" %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/icon-192x192.png">
  <%= stylesheet_pack_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
</head>

<body>
  <header>
    <div class="container">
      <div class="columns wiki_header">
        <div class="column col-auto">
          <a href="/" class="brand navbar-brand"><%= image_tag 'logo.svg', class: "brand-logo" %></a>
        </div>
        <div class="column show-sm text-right mb-2">
          <% if current_user %>
            <%= link_to user_notices_path(current_user) do %>
              <figure class="avatar badge" data-badge="<%= current_user.notices.count %>" style="background: none;">
                <%= image_tag "/images/inbox.svg" %>
              </figure>
            <% end %>
            <%= link_to edit_user_path(current_user), class: "ml-2" do %>
              <figure class="avatar">
                <%= image_tag "#{current_user.current_avatar}" %>
              </figure>
            <% end %>
          <% else %>
            <%= link_to "ログイン", login_path, class: "btn" %>
          <% end %>
        </div>

        <% if @wiki&.id %>
        <div class="column col-sm-12 col-lg-auto">
          <div class="title">
            <%= link_to wiki_path(@wiki) do %>
            <h1 class=""><%= @wiki.title %></h1>
            <% end %>
          </div>
        </div>
        <% else %>
        <div class="column col-3 col-sm-12 col-lg-auto">
          <div class="input-group d-hide">
            <input class="form-input" type="text" placeholder="search">
            <button class="btn input-group-btn">検索</button>
          </div>
        </div>
        <% end %>

        <div class="column col-lg-auto hide-sm text-right">
          <% if current_user %>
            <%= link_to user_notices_path(current_user) do %>
              <figure class="avatar badge" data-badge="<%= current_user.notices.count %>" style="background: none;">
                <%= image_tag "/images/inbox.svg" %>
              </figure>
            <% end %>
            <%= link_to edit_user_path(current_user), class: "ml-2" do %>
              <figure class="avatar">
                <%= image_tag "#{current_user.current_avatar}" %>
              </figure>
            <% end %>
          <% else %>
            <%= link_to "ログイン", login_path, class: "btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </header>

  <div class="container is-main">
    <div class="breadcrumb_container">
      <%= render partial: 'breadcrumbs/buoys' %>
    </div>
    <%= yield %>
  </div>

  <footer>
    <div class="footer">
      <div class="container grid-xl">
        <div class="columns">
          <div class="column is-12">
            <a href="/" class="brand navbar-brand"><%= image_tag 'logo.svg', class: "brand-logo" %>dotwiki</a>
            <ul class="sns_icons">
              <%= link_to 'https://github.com/dotwiki/dotwiki', target: "_blank" do %>
                <li><i class="icon-github"></i></li>
              <% end %>
              <%= link_to 'https://twitter.com/dotwikixyz', target: "_blank" do %>
                <li><i class="icon-twitter"></i></li>
              <% end %>
              <%= link_to 'https://join.slack.com/t/dotwiki/shared_invite/enQtOTA2Njk4MjY5MDkxLWIwYTkzZTNkNTRhM2QyZWI4ZDMzZTVmMGRmNDJmMmM5ODNkNDdjZTA5NWMwOWZiMDcwZWE0ZTk4YzE4MDBlM2Y', target: "_blank" do %>
                <li><i class="icon-slack"></i></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="container grid-xl">
        <div class="columns">
          <div class="column is-3 col-sm-12">
            <ul class="nav">
              <%= link_to 'https://www.dotwiki.xyz/wikis/1/pages/1', target: '' do %>
                <li>dotwikiとは？</li>
              <% end %>
              <%= link_to 'https://www.dotwiki.xyz/wikis/1/pages/3', target: '' do %>
                <li>利用規約</li>
              <% end %>
              <%= link_to 'https://www.dotwiki.xyz/wikis/1/pages/4', target: '' do %>
                <li>プライバシーポリシー</li>
              <% end %>
              <%= link_to '/thanks', target: '' do %>
                <li>スペシャルサンクス</li>
              <% end %>
            </ul>
          </div>
          <div class="column is-3 col-sm-12">
            <ul class="nav">
              <%= link_to 'https://www.dotwiki.xyz/wikis/1/pages/1', target: '' do %>
                <li>dotwikiの使い方</li>
              <% end %>
            </ul>
          </div>
          <div class="column is-3 col-sm-12">
            <ul class="nav">
              <%= link_to new_user_path, target: '' do %>
                <li>新規登録</li>
              <% end %>
              <%= link_to login_path, target: '' do %>
                <li>ログイン</li>
              <% end %>
            </ul>
          </div>
          <div class="column is-3 col-sm-12">
            <ul class="nav">
              <%= link_to 'https://github.com/dotwiki/dotwiki/projects/1', target: '' do %>
                <li>ロードマップ</li>
              <% end %>
              <%= link_to '/', target: '' do %>
                <li>ブログ</li>
              <% end %>
              <%= link_to '/', target: '' do %>
                <li>お問い合わせ</li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <div id="toast" class="">
    <div id="toast_img"></div>
    <div id="toast_msg"></div>
  </div>

  <% flash.each do |toast_type, toast_msg| %>
  <script defer>
    toast('<%= toast_type %>', '<%= toast_msg %>')
  </script>
  <% end %>

  <% if Rails.env.production? %>
  <script src="//instant.page/3.0.0" type="module" defer
    integrity="sha384-OeDn4XE77tdHo8pGtE1apMPmAipjoxUQ++eeJa6EtJCfHlvijigWiJpD7VDPWXV1"></script>
  <% end %>
</body>

</html>